* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Palanquin', sans-serif; 
  --ff-texting: 'Staatliches', sans-serif;
  --ff-open: 'Open Sans', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  --background-color: hsl(233, 100%, 97%);
  --header-bg-color: hsl(218, 17%, 62%);
  --strawberry-ice-cream-color: hsl(275, 18%, 79%);
  --bg-cards-h2: #FEEAFA;

  --fc-primary: #FFFFFF;
  --fc-secundary: #23053A;
  --fc-h2: #4A4E69;

  font-size: 62.5%;
  margin: 0;
}

body {
  background-color: var(--background-color);
  margin: 0 auto;
}

.everyPage {
  min-width: 32rem;
  margin: 0 auto;
  text-align: center;
  
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--header-bg-color);

  min-width: 32rem;
}

header .iceCreamImage img {
  margin: 3.2rem auto 4rem;
}

header .iceCreamImage h1 {
  background-color: var(--strawberry-ice-cream-color);
  color: var(--fc-primary);

  font-family: var(--ff-texting);
  font-weight: 400;
  font-size: 4rem;
  Letter-spacing: 0.05rem;
  margin-bottom: 2rem;

  animation: leftright 1200ms;
}

header .storyText {
  background-color: var(--background-color);
  font-family: var(--ff-heading);
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  min-width: 31.5rem;
  padding: 1.4rem 3.2rem 6.4rem;
}

.iceCreamCards {
  position: relative;
  
  animation: downtop 1200ms ease;
}

.iceCreamCards img {
  transition: 800ms;
}

.iceCreamCards img:hover {
  transform: scale(1.1);
}

.spaceCards {
  display: grid;
  gap: 3.2rem;
}

.iceCreamCards  h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: 1;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;

  font-size: 2rem;
  font-family: var(--ff-texting);
  color: var(--heading-2-color);
  background-color: var(--bg-cards-h2);
  text-transform: uppercase;

  animation: topdown 1.5s ease 500ms;
}

.userContact {
  margin: 3.2rem auto 2rem;
  font-family: var(--ff-open);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: center;
}

.userContact a {
  text-decoration: none;
  color: black;
  font-weight: 400;

  transition: 500ms;
}

.userContact a:hover {
  font-weight: bold;
  color: #8A2BE2;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftright {
  0% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}


@media (min-width: 700px) {
  main .spaceCards {
    display: grid;
    grid-template-areas: "A B C"
    "D B F"
    "D E F";
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }
  
  main div:nth-child(3) {
    grid-area: C;
  }
  
  main div:nth-child(4) {
    grid-area: D;
  }

  main div:nth-child(5) {
    grid-area: E;
  }

  main div:nth-child(6) {
    grid-area: F;
  }

  .spaceCards {
    gap: 1.5rem;
    margin: 0 1.5rem;
  }
  
  .iceCreamCards img {
    width: 95%;
  }

  .iceCreamCards img:hover {
    transform: scale(0.9);
  }

  .iceCreamCards h2 {
    display: none;
  }

  .userContact {
    margin: 4.6rem auto;
    font-family: var(--ff-open);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0em;
    text-align: center;
  }

  .userContact a {
    text-decoration: none;
    color: black;
    font-weight: 400;

    transition: 500ms;
  }

  .userContact a:hover {
    font-weight: bold;
    color: #8A2BE2;
  }
}

@media (min-width: 900px) {
  .everyPage {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  header {
    display: flex;
    flex-direction: column;
    
    height: 120vh;
    width: 50rem;
    background-color: var(--header-bg-color);
  }

  header .storyText {
    background-color: var(--header-bg-color);
    color: var(--fc-primary);

    font-family: var(--ff-roboto);
    font-family: Roboto;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0em;

    width: 25rem;
    margin: 0 auto;
  }

  main .spaceCards {
    display: grid;
    width: 80.4rem;

    margin: 6rem 9rem;
    grid-template-areas: "A B C"
    "D B F"
    "D E F";
  }
  
  main div:nth-child(1) {
    grid-area: A;
  }
  
  main div:nth-child(2) {
    grid-area: B;
  }
  
  main div:nth-child(3) {
    grid-area: C;
  }
  
  main div:nth-child(4) {
    grid-area: D;
  }
  
  main div:nth-child(5) {
    grid-area: E;
  }

  main div:nth-child(6) {
    grid-area: F;
  }
  
  .spaceCards {
    gap: 1.5rem;
    margin: 0 1.5rem;
  }
  
  .iceCreamCards img {
    width: 95%;
  }
  
  .iceCreamCards h2 {
    display: none;
  }
  
  .userContact {
    margin-bottom: 4.6rem;
    font-family: var(--ff-open);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0em;
    text-align: center;
  }

  .userContact a {
    text-decoration: none;
    color: black;
    font-weight: 400;

    transition: 500ms;
  }

  .userContact a:hover {
    font-weight: bold;
    color: #8A2BE2;
  }
}